@model MVC_ScoolMGT.Models.TeacherModel
@{
    ViewBag.Title = "ManageStudents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div style="border:1px solid green;padding:20px;">
    <legend>Manage teacher <a href="../Demo/Teacher" style="margin-left:50px;color:green;">Add Teacher</a> </legend>

    @if (Model != null && Model.TeacherList != null && Model.TeacherList.Any())
    {
        <table id="teacherTable" class="display" cellspacing="0" style="width:auto;">
            <thead>
                <tr>
                    <th>Action</th>
                    <th>First Name </th>
                    <th>Last Name </th>
                    <th>Mother Name </th>
                    <th>Father Name </th>
                    <th>Gender </th>
                    <th>DOB </th>
                    <th>Mobile Number </th>
                    <th>Village </th>
                    <th>Mandal </th>
                    <th>District </th>
                    <th>Municipality </th>
                    <th>Habitation </th>
                    <th>Blood Group </th>
                    <th>Caste </th>
                    <th>Religion </th>
                    <th>Mother Tongue </th>
                    <th>Adhar No </th>
                    <th>Previous Institute Name </th>
                    <th>Previous Identification No </th>
                    <th>PhotoName </th>
                    <th>DOJ </th>
                    <th>ClassNmae </th>
                    <th>Section </th>
                    <th>RollNo </th>
                    <th>AdmissionNo </th>
                    <th>Academic Fee </th>
                    <th>Hostel Fee </th>
                    <th>Transport Fee </th>
                    <th>Total Fee </th>
                    <th>Email </th>
                    <th>Qualification</th>
                    <th>Experience</th>
                    <th>Designed</th>
                    <th>Subject</th>
                    <th>Work Type</th>
                    <th>Working Hour/Day</th>
                    <th>Working Hour/Month</th> 
                </tr>
            </thead>
            <tbody>
                @foreach (var teacher in Model.TeacherList)
                {
                    <tr>
                        <td>
                            <a href="@Url.Action("EditStudent", new { @id = teacher.Id })">Edit</a>
                            <a href="@Url.Action("DeleteStudent", new { @id=teacher.Id})">Delete</a>
                        </td>
                        <td>@teacher.FirstName </td>
                        <td>@teacher.LastName </td>
                        <td>@teacher.MName </td>
                        <td>@teacher.FName </td>
                        <td>@teacher.Gender </td>
                        <td>@string.Format("{0:yyyy-MM-dd}", teacher.DOB) </td>
                        <td>@teacher.MobileNo </td>
                        <td>@teacher.Village </td>
                        <td>@teacher.Mandal </td>
                        <td>@teacher.District </td>
                        <td>@teacher.Municipality </td>
                        <td>@teacher.Habitation </td>
                        <td>@teacher.BloodGroup </td>
                        <td>@teacher.Caste </td>
                        <td>@teacher.Religion </td>
                        <td>@teacher.MotherTongue </td>
                        <td>@teacher.AdharNo </td>
                        <td>@teacher.PInstituteName </td>
                        <td>@teacher.PIdentificationNo </td>
                        <td>@teacher.PhotoName </td>
                        <td>@string.Format("{0:yyyy-MM-dd}", teacher.DOJ) </td>
                        <td>@teacher.ClassNmae </td>
                        <td>@teacher.Section </td>
                        <td>@teacher.RollNo </td>
                        <td>@teacher.AdmissionNo </td>
                        <td>@teacher.AFee </td>
                        <td>@teacher.HFee </td>
                        <td>@teacher.TFee </td>
                        <td>@teacher.TotalFee </td>
                        <td>@teacher.Email </td>
                        <td>@teacher.Qualification </td>
                        <td>@teacher.Experience</td>
                        <td>@teacher.Designed</td>
                        <td>@teacher.Subject</td>
                        <td>@teacher.WorkType</td>
                        <td>@teacher.WorkHourPerDay</td>
                        <td>@teacher.WorkHourPerMonth</td>



                    </tr>
                }
            </tbody>

        </table>
    }

</div>
<script>

    $(document).ready(function () {
        $('#teacherTable').DataTable({
            "scrollX": true
        }).columns.adjust();

    });
</script>

<style>

</style>